body{
  color: #242424;
  font-size: 14px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  background: transparent url('/assets/template/images/bg.jpg') left top repeat;
  @media($bp-larger-than-desktop) {
    font-size: 15px;
  }
  &:before{
    display: inline-block;
    content: "";
    height: 328px;
    background: transparent url('/assets/template/images/bg-shadow__top.png') left top repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &:after{
    display: inline-block;
    content: "";
    height: 328px;
    background: transparent url('/assets/template/images/bg-shadow__bottom.png') left top repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
body *{
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 610px;
}
.container{
  padding: 0 15px;
}
@media (max-width: 550px) {
  .phablet-container{
    width: 100%;
    padding: 0;
  }
}
.phablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-phablet) {
      padding: 0;
    }
  }
}
@media (max-width: 750px) {
  .tablet-container{
    width: 100%;
    padding: 0;
  }
}
.tablet-container{
  &__inside{
    padding: 0 15px;
    @media ($bp-larger-than-tablet) {
      padding: 0;
    }
  }
}
.in-mobile{
  display: inline;
  @media($bp-larger-than-phablet) {
    display: none;
  }
}
.in-desktop{
  display: none;
  @media($bp-larger-than-phablet) {
    display: inline;
  }
}
p{
  line-height: 120%;
  margin: 0 0 12px 0;
  font-size: 12px;
  @media($bp-larger-than-mobile) {
    font-size: 12px;
  }
}
a{
  color: #242424;
  outline: none;
  text-decoration: none;
  &:hover{
    color: $colorPackageDefault;
    text-decoration: underline;
  }
}
button{
  outline: none;
}


.wrapper{
  position: relative;
  z-index: 3;
  padding-top: 37px;
  display: flex;
  height: 100%;
  @media($bp-larger-than-desktophd) {
      align-items: center;
  }
}
.maintext-bottom p{
  color: #fff;
  font-size: 20px;
}
.packages{
  &__header{
    font-size: 36px;
    font-family: 'Exo2', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
  }
  &__grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media ($bp-larger-than-phablet) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
  &__item{
    padding: 0 0 20px;
    @media ($bp-larger-than-phablet) {
      padding: 0 40px 20px;
    }
  }
}

.package{
  width: 320px;
  flex-shrink: 0;
  &__card{
    cursor: pointer;
    background: linear-gradient(135deg,rgba(0,0,0,0) 30px, $colorPackageDefault 0) 0 0;
    padding: 4px;
    border-radius: 0 10px 10px 10px;
    transition: $cubic02;
  }
  &__inner{
    background: linear-gradient(135deg,rgba(0,0,0,0) 29px,#f2f2f2 0) 0 0;
    height: 472px;
    padding: 17px 45px 3px;
    position: relative;
    border-radius: 0 8px 8px 8px;
    overflow: hidden;
    transition: $cubic02;
  }
  &__call{
    color: #fff;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 12px;
    text-align: center;
    a{
      color: $colorPackageDefault;
      text-transform: none;
      border-bottom: 1px dashed $colorPackageDefault;
      &:hover{
        text-decoration: none;
        border-color: transparent;
      }
    }
    &--selected{
      display: none;
    }
    &--disabled{
      display: none;
    }
  }
  &__body{
    position: relative;
    z-index: 2;
    transition: $cubic02;
  }
  &__description{
    color: #666666;
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 8px;
    &--selected-hover{
      display: none;
    }
  }
  &__name{
    font-size: 48px;
    font-weight: bold;
    line-height: 110%;
  }
  &__name-with{
    font-size: 24px;
    font-weight: bold;
    line-height: 110%;
    margin-bottom: 15px;
  }
  &__info{
    color: #666666;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.2px;
  }
  &__cat{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: $cubic02;
  }
}

.package--hover{
  .package{
    &__card{
      background: linear-gradient(135deg,rgba(0,0,0,0) 30px, $colorPackageHover 0) 0 0;
    }
  }
  .package-volume{
    background-color: $colorPackageHover;
  }
}

.package--selected{
  .package{
    &__card{
      background: linear-gradient(135deg,rgba(0,0,0,0) 30px, $colorPackageSelected 0) 0 0;
    }
    &__call{
      &--default{
        display: none;
      }
      &--selected{
        display: block;
      }
    }
  }
  .package-volume{
    background-color: $colorPackageSelected;
  }
}

.package--selected-hover{
  .package{
    &__card{
      background: linear-gradient(135deg,rgba(0,0,0,0) 30px, $colorPackageSelectedHover 0) 0 0;
    }
    &__call{
      &--default{
        display: none;
      }
      &--selected{
        display: block;
      }
    }
    &__description{
      color: $colorPackageSelectedHover;
      &--default{
        display: none;
      }
      &--selected-hover{
        display: block;
      }
    }
  }
  .package-volume{
    background-color: $colorPackageSelectedHover;
  }
}

.package--disabled{
  .package{
    &__card{
      background: linear-gradient(135deg,rgba(0,0,0,0) 30px, $colorPackageDisabled 0) 0 0;
    }
    &__call{
      color: $yellow;
      &--default{
        display: none;
      }
      &--disabled{
        display: block;
      }
    }
    &__body{
      opacity: 0.5;
    }
    &__cat{
      opacity: 0.5;
    }
  }
  .package-volume{
    background-color: $colorPackageDisabled;
  }
}

.package-volume{
  width: 81px;
  height: 81px;
  position: absolute;
  z-index: 2;
  bottom: 11px;
  right: 11px;
  color: #fff;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  line-height: 100%;
  transition: $cubic02;
  &__digits{
    text-align: center;
    font-size: 42px;
    margin-bottom: 15px;
    margin-top: 12px;
  }
  &__unit{
    font-size: 21px;
  }
}